<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Custom Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  To create/use custom components in an ionic app you must do the following:
  <ul>
    <li>use <code>ionic g module components</code> to create a components module</li>
    <li>use <code>ionc g component components/componentName</code> to create your component</li>
    <li>Add the componentName to the declarations and add exports to the components.module.ts</li>
    <li>Add import ComponentsModule to the module.ts of your page you wish to add it to</li>
  </ul>  
  Notes: you have to add FormModule and IonicModule to the components/components.module.ts file Imports if you want to use ionic components in your custom component
  </div>
  <app-list [Title]="Title" [items]="Items" (ClickVal)="OnEventReceived($event)"></app-list>
</ion-content>
